/*BLOG*/
.blog-post-list{
	margin-bottom: 30px;
	padding-bottom: 10px;
	border-bottom: 1px solid $border-color;
	img{
		margin-bottom: 1rem;
	}
	h2 {
		font-size: 2.2rem;
		color: $cor3;
		line-height: 2.5rem;
		margin-bottom: 1rem;
		a{
			color: $cor4;
			&:hover{
				color: $cor3;
			}
		}
	}
	.entry-meta{
		border-top: 1px dotted $border-color;
		border-bottom: 1px dotted $border-color;
		margin-bottom: 1rem;
		margin-top: 0rem;
		padding: 0.2rem 0.5rem;
		P{
			margin: 0;
		}
		i{
			margin-top: 0.4rem;
		}
	}
	.tag-list{
		margin-top: 14px;
		p{
			a.button{
				margin: 1px;
				padding: 0.3rem 0.5rem;
			}
		}
	}
}
.post-content{
	p{
		a{
			font-weight: bold;
			color: $cor2;
			border-bottom: 1px dashed $cor3;
			&:hover{
				border-bottom: 1px dashed $cor1;
			}
		}
	}
}
.widget-sidebar{
	width: 100%;
	margin: 0 0 1rem;
	padding: 15px 0 0;
	border-bottom: 1px solid $border-color;
	background: $cor;
	color: $cor1;
	h3{
		text-transform: uppercase;
		text-align: left;
		color: $cor2;
		font-size: 1.4rem;
	}
	ul{
		padding: 0 10px;
		margin-left: 0.5rem;
		margin-bottom: 0;
		li{
			padding: 5px 5px 5px 0;
			border-bottom: 1px dashed $border-color;
			list-style: square;
			display: list-item;
			a{
				color: $cor1;
				&:hover{
					color: $cor2;
				}
			}
			&:last-child{
				border-bottom: none;
			}
		}
	}
}
.pagination .current, .pagination .current:hover{
	background: $cor2;
	color: $cor;
}
