/*BLOG*/
.blog-post-list{
	margin-bottom: 15px;
	padding-bottom: 30px;
	border-bottom: 1px solid #efefef;
	h2 {
		a{
			color: #F49655;
		}
	}
}
.widget-sidebar{
	width: 100%;
	margin: 0 0 1rem;
	padding: 15px 15px 0;
	border-bottom: 1px solid #dfdfdf;
	background: #FFF;
	color: #843b4d;
	h3{
		text-transform: uppercase;
		text-align: left;
		color: #843B4D;
	}
	ul{
		padding: 0 10px;
		margin-left: 0.5rem;
		margin-bottom: 0;
		li{
			padding: 5px 5px 5px 0;
			border-bottom: 1px dashed #DBD2DD;
			list-style: square;
			display: list-item;
			a{
				color: #4C4B4B;
				&:hover{
					color: #843B4D;
				}
			}
			&:last-child{
				border-bottom: none;
			}
		}
	}
}

.pagination .current, .pagination .current:hover{
	background: #843B4D;
	color: #FFF;
}
