/*BLOG*/
.blog-post-list{
	margin-bottom: 30px;
	padding-bottom: 10px;
	border-bottom: 1px solid $border-color;
	img{
		margin-bottom: 10px;
	}
	h2 {
		font-size: 2.8rem;
		color: $cor3;
		a{
			color: $cor4;
			&:hover{
				color: $cor3;
			}
		}
	}
	.tag-list{
		margin-top: 14px;
		a.button{
			margin: 1px;
		}
	}
}
.widget-sidebar{
	width: 100%;
	margin: 0 0 1rem;
	padding: 15px 0 0;
	border-bottom: 1px solid $border-color;
	background: $cor;
	color: $cor1;
	h3{
		text-transform: uppercase;
		text-align: left;
		color: $cor2;
		font-size: 1.4rem;
	}
	ul{
		padding: 0 10px;
		margin-left: 0.5rem;
		margin-bottom: 0;
		li{
			padding: 5px 5px 5px 0;
			border-bottom: 1px dashed $border-color;
			list-style: square;
			display: list-item;
			a{
				color: $cor1;
				&:hover{
					color: $cor2;
				}
			}
			&:last-child{
				border-bottom: none;
			}
		}
	}
}
.pagination .current, .pagination .current:hover{
	background: $cor2;
	color: $cor;
}
