//output: ../servicos.html
doctype
html(class="no-js", lang="pt-BR", dir="ltr")

  head
    include includes/head
    //css
    
  body
    div(class="off-canvas position-left", id="offCanvasLeft", data-off-canvas)
      //close button
      button(class="close-button", aria-label="Close Menu", type="button", data-close)
        span(aria-hidden="true") &times
      //Menu
      include includes/off-canvas-menu
          
    div(class="off-canvas-content", data-off-canvas-content)
      //header
      include includes/header-internas
      //header
      //banner-pagina
      include includes/banner-pagina
      //banner-pagina
      main.main
        //servicos
        section.custom-section#servicos
          div.grid-container
            div.grid-x.grid-margin-x.grid-padding-x
              div.cell
                h2 Nossos #[span Serviços]
              div.cell.especializacao
                div.grid-x.grid-padding-x.align-middle
                  .cell.small-12.medium-4.large-3
                    img(src="https://www.mackenziedentalcentre.com/uploads/upload/images/implants-image-2.jpg")  
                  .cell.small-12.medium-auto
                    h3 Implantodontia
                    p Os implantes dentários restabelecem a função mastigatória dos alimentos, devolvem a estética dental e lhe proporciona mais sorrisos.
              div.cell.especializacao
                div.grid-x.grid-padding-x.align-middle
                  .cell.small-12.medium-4.large-3
                    img(src="http://teckkamdentalcare.com/wp-content/uploads/2017/02/hygiene.jpg")  
                  .cell.small-12.medium-auto
                    h3 Endodontia
                    p Também conhecido como tratamento de canal, a Endodontia cura e recupera a polpa do dente, devolvendo a saúde bucal ao paciente.
              div.cell.especializacao
                div.grid-x.grid-padding-x.align-middle
                  .cell.small-12.medium-4.large-3
                    img(src="http://wmsmile.com/wp-content/uploads/2017/11/brush-your-teeth-twice-a-day-350x350.jpg")  
                  .cell.small-12.medium-auto
                    h3 Ortodontia
                    p Há diversos aparelhos ortodônticos para alinhar os dentes e harmonizar o sorriso. São diversos tipos de aparelhos para melhorar na estética do seu sorriso.
              div.cell.especializacao
                div.grid-x.grid-padding-x.align-middle
                  .cell.small-12.medium-4.large-3
                    img(src="https://www.mackenziedentalcentre.com/uploads/upload/images/implants-image-2.jpg")  
                  .cell.small-12.medium-auto
                    h3 Lentes de contato dental
                    p As lentes de contato dental alinham o sorriso, corrigem espaçamentos e pequenas rachaduras entre os dentes.
              div.cell.especializacao
                div.grid-x.grid-padding-x.align-middle
                  .cell.small-12.medium-4.large-3
                    img(src="http://teckkamdentalcare.com/wp-content/uploads/2017/02/hygiene.jpg")  
                  .cell.small-12.medium-auto
                    h3 Toxina Botulínica
                    p O tratamento com a toxina botulínica elimina as rugas de expressão facial e dá uma nova forma ao sorriso.
              div.cell.especializacao
                div.grid-x.grid-padding-x.align-middle
                  .cell.small-12.medium-4.large-3
                    img(src="http://wmsmile.com/wp-content/uploads/2017/11/brush-your-teeth-twice-a-day-350x350.jpg")  
                  .cell.small-12.medium-auto
                    h3 Clínico Geral
                    p Limpeza, periodontia, tratamento do sorriso gengival e prevenção da saúde bucal. É altamente recomendável ir ao dentista ao menos uma vez a cada seis meses.
                    
      //footer
      include includes/footer
      //footer
    //scripts
    include includes/foot
    //scripts
