.slide-wrapper
  div(class="slides hero", id="slides")
    div(class="slide", style="background-image: url(assets/img/banner.jpg)")
      div(class="slide-caption slideInLeft")
        h2: #[span Odontologia] Estética
    div(class="slide", style="background-image: url(assets/img/banner2.jpg)")
      div(class="slide-caption slideInLeft")
        h2: #[span Clínica] Ilúmina
  div(id="slide-anchor")
          
