aside.widget-sidebar
  form(action="")
    div.input-group
      input(type="search" class="input-group-field" placeholder="O que procura?___" value=""  name="s")
      input(type="hidden" name="post_type" value="post")
      div(class="input-group-button")
        button(type="submit" class="button bg1")
          i(class="fa fa-search")
aside.widget-sidebar
  h3 Posts Recentes
  ul
    li
      a(href="") Novo titulo do post
    li
      a(href="") Titulo do post
    li
      a(href="") Post anterior
      
aside.widget-sidebar
  h3 Arquivos
  ul
    li
      a(href="") Novo titulo do post
    li
      a(href="") Titulo do post
    li
      a(href="") Post anterior
      
aside.widget-sidebar
  h3 Categorias
  ul
    li
      a(href="") Novo titulo do post
    li
      a(href="") Titulo do post
    li
      a(href="") Post anterior

aside.widget-sidebar
  h3 Tags
    .tagcloud
      a(href="" style="font-size: 8pt;" class="tag-cloud-link") tag1
      a(href="" style="font-size: 12pt;" class="tag-cloud-link") tag2
      a(href="" style="font-size: 10pt;" class="tag-cloud-link") tag3
      a(href="" style="font-size: 14pt;" class="tag-cloud-link") tag4
      a(href="" style="font-size: 8pt;" class="tag-cloud-link") tag5
      a(href="" style="font-size: 8pt;" class="tag-cloud-link") tag6
      a(href="" style="font-size: 8pt;" class="tag-cloud-link") tag7
      a(href="" style="font-size: 8pt;" class="tag-cloud-link") tag8
