script(src="assets/js/vendor/jquery.js")
script(src="assets/js/vendor/what-input.js")
script(src="assets/js/vendor/foundation.js")
script(src="assets/js/vendor/motion-ui.js")
script(src="assets/slick/slick.js")
script(src="assets/js/app.js")
