footer(class="footer", id="footer")
  .grid-container
    .grid-x.grid-padding-x
      .cell.small-12.medium-4.large-2
        nav
          ul(class="vertical menu footer-menu")
            li
              a home
            li 
              a Sobre Nós
            li
              a Serviços
            li
              a Profissionais
            li
              a Blog
            li
              a contato
        .button-group.social-buttons
          a(href="#", class="button")
            i.fa.fa-facebook
          a(href="#", class="button")
            i.fa.fa-instagram
          a(href="#", class="button")
            i.fa.fa-whatsapp
      .cell.small-12.medium-8.large-6.footer-info
        p
          strong Ilúmina Odontologia
        address
          p Rua Padre Ancheita, 2050 - Sala 1705 - 17º anda
          p CEP: 80730-000
          p Helbor Offices
          p Fone: (41) 3029-6820
          p contato@iluminaodontologia.com.br
      .cell.auto.text-center
        span.custom-footer-logo-wrapper
          img(src="assets/img/logo-footer.png", class="logo-footer", height="102", width="126", alt="")
