div(class="data-sticky-container sticky-header")
  div(data-sticky, data-margin-top="0", data-top-anchor="slide-anchor:bottom", data-sticky-on="small")
    header.header
      .grid-container
        .grid-x.grid-margin-x.grid-padding-x.align-middle
          .cell.shrink
            span.custom-logo-wrapper
              a(class="custom-logo-link", href="index.html")
                img(src="assets/img/logo.png", height="88", width="108", alt="", class="custom-logo")
          .cell.auto.text-right
            include main-menu
