//- Menu
nav.main-nav
  //- span.button-menu-icon.float-right.hide-for-large
  button(class="menu-icon hide-for-large float-right", type="button", data-open="offCanvasLeft")
  ul(class="menu main-menu text-uppercase align-right show-for-large", data-dropdown-menu)
    li.active
      a home
    li 
      a Sobre Nós
    li
      a Serviços
    li
      a Profissionais
    li
      a Blog
    li
      a contato
