//- Menu
nav.main-nav
  //- span.button-menu-icon.float-right.hide-for-large
  button(class="menu-icon hide-for-large float-right", type="button", data-open="offCanvasLeft")
  ul(class="menu main-menu text-uppercase align-right show-for-large", data-dropdown-menu)
    li
      a(href="index.html") Home
    li 
      a(href="sobre.html") Sobre Nós
    li
      a(href="servicos.html") Serviços
    li
      a(href="profissionais.html") Profissionais
    li
      a(href="blog.html") Blog
    li
      a(href="contato.html") Contato
