nav
  ul(class="vertical menu footer-menu")
    li
      a(href="index.html") Home
    li 
      a(href="sobre.html") Sobre Nós
    li
      a(href="servicos.html") Serviços
    li
      a(href="profissionais.html") Profissionais
    li
      a(href="blog.html") Blog
    li
      a(href="contato.html") Contato
