nav
  div.logo-off-canvas.text-center
    a(class="custom-logo-link", href="index.html")
      img(src="assets/img/logo.png", height="88", width="108", alt="", class="custom-logo")
    
  ul(class="vertical menu accordion-menu off-canvas-menu", data-accordion-menu, data-submenu-toggle="true")
    li
      a(href="index.html") Home
    li 
      a(href="sobre.html") Sobre Nós
    li
      a(href="servicos.html") Serviços
    li
      a(href="profissionais.html") Profissionais
    li
      a(href="blog.html") Blog
    li
      a(href="contato.html") Contato
