nav
  ul(class="vertical menu accordion-menu off-canvas-menu", data-accordion-menu, data-submenu-toggle="true")
    li
      a(href="index.html") home
    li 
      a(href="sobre.html") Sobre Nós
    li
      a(href="servicos.html") Serviços
    li
      a(href="profissionais.html") Profissionais
    li
      a(href="blog.html") Blog
    li
      a(href="contato.html") contato
